* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#openbtn {
  width: 200px;
  padding: 20px;
  font-size: 25px;
  font-family: cursive;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: none;
  border: none;
  background-color: #000;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: white;
  box-shadow: 3px 3px 3px gray;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 3px black;
  width: 500px;
  height: 400px;
}
